* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}



nav {
	width: 100%;
	height: 6rem;
	display: flex;
	justify-content: flex-end;
	background-color: red;
	padding-right: 10rem;
	position: fixed;
	align-items: center;
}



.navlink {
	font-size: 2rem;
	margin-left: 3rem;
	text-decoration: none;
	
}

.landingcontainer {
	display: flex;
	justify-content: center;
	background-color: pink;

}

.landingsection {
	
	display: flex;
	width: 60%;
	padding-top: 20rem;
		
}


.landingintro {
	width: 65%;
	background-color: blue;
	display: flex;
	flex-direction: column;
	padding: 3rem;
	justify-content: flex-start;


}


.landingintro h6 {
	padding-top: 1rem;
	margin-bottom: 1rem;
	font-size: 2rem;
}

.landingintro h1 {
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 8rem;
}

.landingintro h2 {
	margin-top: 2rem;
	font-size: 3rem;
}


.landingimage {
	width: 35%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: yellow;

}

img {
	height: 32rem;
	width: 24rem;
}


.aboutcontainer {
	display: flex;
	justify-content: center;
	background-color: purple;
	padding-top: 10rem;
	padding-bottom: 10rem;
	
	
}

.aboutme {
	background-color: green;
	padding: 4rem 8rem 8rem 8rem;
	font-size: 3rem;
	width: 60%;

	
}



@media only screen and (max-width: 1200px) {
  
.landingsection {
	flex-wrap: wrap;
}

.landingimage {
	width: 100%;
	
}

.landingintro {
	width: 100%;
}

img {
	height: 32rem;
	width: 24rem;
}

.landingintro {
    display: flex;
    align-items: center;
    justify-content: center;	
}

nav {
  justify-content: center;
}


}

.projectcontainer {
	display: flex;
	justify-content: center;
	background-color: pink;
	padding-top: 20rem;
	padding-bottom: 20rem;
}


.projectsection {
	width: 60%;
	background-color: red;
	
}

.projectsection h2 {
	font-size: 7rem;
	padding-left: 2rem;
}


.projecttable {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
}

.project {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 33.33%;
	border: 3px solid black;
	padding: 1rem;
	align-items: center;
	font-size: 2rem;
	
}

.project h2 {
	margin-top: 2rem;
	margin-bottom: 3rem;
}

.project a {
	padding: 1rem;
}




