* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

h1 {
	font-family: "Work Sans", sans-serif;
}

h2, h3, h6, p, a {
	font-family: "Roboto Mono", monospace;
}


nav {
	width: 100%;
	height: 6rem;
	display: flex;
	justify-content: flex-end;
	background-color: #05386B;
	padding-right: 10rem;
	position: fixed;
	align-items: center;
}

.navLink {
	font-size: 2rem;
	margin-left: 3rem;
	text-decoration: none;	
	color: #EDF5E1;
	font-family: "Roboto Mono", monospace;
}

.landingContainer {
	display: flex;
	justify-content: center;
	background-color: pink;
}

.landingSection {
	
	display: flex;
	width: 60%;
	padding-top: 20rem;	
}

.landingIntro {
	width: 65%;
	background-color: #5CDB95;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 11rem 3rem;
}

.landingIntro h6 {
	margin-bottom: 1rem;
	font-size: 2rem;
}

.landingIntro h1 {
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 8rem;
}

.landingIntro h2 {
	margin-top: 2rem;
	font-size: 3rem;
}

.landingImage {
	width: 35%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8EE4AF;
}

img {
	height: 32rem;
	width: 24rem;
}

.aboutContainer {
	display: flex;
	justify-content: center;
	background-color: pink;
	padding-top: 10rem;
	padding-bottom: 10rem;	
}

.aboutMe {
	background-color: #5CDB95;
	padding: 3rem;
	font-size: 2.5rem;
	width: 60%;
}

.projectContainer {
	display: flex;
	justify-content: center;
	background-color: pink;
	padding-bottom: 20rem;
}

.projectSection {
	width: 60%;
	background-color: #5CDB95;	
}

span h1 {
	font-size: 7rem;
	padding-left: 3rem;
}

.projectTable {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
}

.project {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 33.33%;
	border: 3px solid black;
	padding: 1rem;
	align-items: center;
	font-size: 2rem;
	text-align: center;

}


.project h2 {
	margin-top: 2rem;
	margin-bottom: 3rem;
	font-family: "Work Sans";
}

.project a {
	padding: 1rem;
}

.contactContainer {
	display: flex;
	justify-content: center;
	background-color: pink;
	padding-bottom: 10rem;
}

.contactSection {
	width: 60%;
	background-color: #5CDB95;
	padding: 3rem;
}

.contactSection h1 {
	font-size: 7rem;
}

.contactSection p {
	font-size: 2.5rem;
}

.LinkedInLink {
	padding: 2rem;
	background-color: #05386B;
	color: #EDF5E1;
	font-size: 2.5rem;
}

.emailAddress {
	background-color: #379683;
	color: #EDF5E1;
	padding: 2rem;
	display: inline;
}


@media only screen and (max-width: 1350px) {
	
	.projectTable {
		flex-direction: column;
	}
	
	.project {
		width: 100%;
	}
	
	.specificProject {
		border-bottom: 0;
	}
	
	span {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media only screen and (max-width: 1200px) {
  
	.landingSection {
		flex-wrap: wrap;
	}

	.landingImage {
		width: 100%;	
	}

	img {
		height: 32rem;
		width: 24rem;
	}

	.landingIntro {
    	display: flex;
    	align-items: center;
    	justify-content: center;
		width: 100%;
		padding: 5rem 3rem;	
	}
	
	.landingContent {
		text-align: center;
	}

	nav {
  	  	justify-content: center;
		padding-right: 0;
	}

	
	.aboutMe {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		font-size: 2.5rem;
		padding: 4rem;
		text-align: center;
	}
	
	.contactSection {
		text-align: center;
	}
}

@media only screen and (max-width: 600px) {
	
	.landingSection {
		padding-top: 10rem;
		width: 80%;
	}
	
	.landingIntro {
		padding: 2.5rem;
	}
	
	.landingIntro h2 {
		font-size: 2.5rem;
	}
	
	.aboutMe {
		width: 80%;
		padding: 2.5rem;
		font-size: 2rem;
	}
	
	.projectSection {
		width: 80%;
	}
	
	span h2 {
		font-size: 5rem;
	}	
}

